<h1>생일 축하해 꺌쓰야^^</h1>

<ul>
  <li><%= link_to 'Bloomingdales', 'http://www1.bloomingdales.com', target: '_blank' %></li>
  <li><%= link_to 'Nordstrom', 'http://shop.nordstrom.com', target: '_blank' %></li>
  <li><%= link_to 'Nordstrom Rack', 'https://www.nordstromrack.com', target: '_blank' %></li>
  <li><%= link_to 'Saks Fifth Avenue', 'http://www.saksfifthavenue.com', target: '_blank' %></li>
  <li><%= link_to 'Saks Fifth Avenue Off5th', 'http://www.saksoff5th.com', target: '_blank' %></li>
</ul>
